In [2]:
# mode control flow statements,list comprehensions, for loops

if condition :
    Body
elif condition:
    Body
else:
    Body

In [7]:
location=input("What your location in india?")
if location=='mumbai' or location=='MUMBAI' or location=='Mumbai':
    print("You are at a red zone")
elif location=='bangalore':
    print("youre safe")
else:
    print("invalid input")

What your location in india?MUMBAI
You are at a red zone

In [10]:
# code to detect vowels

In [12]:
vowels=['a','e','i','o','u','A','E','I','O','U'] # requirement of a loop
alpha=input("Please enter an english letter")
if alpha==vowels:
    print("its a vowel")
else:
    print("invalid")

Please enter an english letterw
invalid

In [13]:
# code to detect even and odd numbers

In [19]:
number=float(input("Enter a number"))
if number==0:
    print("its neither even nor odd")
elif number%2==0:
    print("its even")
else:
    print("its odd")

Enter a number97
its odd

In [20]:
# nested if

In [21]:
state=input("Enter your state name")
pincode=input("Eneter the pincode of your native town")
if state=='delhi':
    if pincode=='001':
        print("you are at IIT Delhi")
    elif pincode=='002':
        print("youre at AIIMS delhi")
    else:
        print("invalid input")
        
elif state=='Bangalore':
    if pincode=='560037':
        print("Youre at Brookfield")
    else:
        print("pincode invalid")
else:
    print("not available in database")

Enter your state namedelhi
Eneter the pincode of your native town002
youre at AIIMS delhi

for iterator in iterable:
    Body

In [26]:
for numbers in ['123','456']:
    print(numbers)

123
456

In [31]:
d={'a':'apple','g':'gwalior'}

In [35]:
for keys,values in d.items():
    print(keys,values)

a apple
g gwalior

In [ ]:
vowels=['a','e','i','o','u','A','E','I','O','U'] 

alpha=input("Please enter an english letter ")

for data in vowels:
    
    if alpha==data:
        
        print("its a vowel")
    else:
        pass# python interpreter to remain idle

In [1]:
for numbers in range(0,10):
    print(numbers)

0
1
2
3
4
5
6
7
8
9

In [2]:
for numbers in range(0,21,2):
    print(numbers)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
for numbers in range(0,21):
    if numbers%2==0:
        print(numbers)

0
2
4
6
8
10
12
14
16
18
20

In [8]:
for words in ['python','car','batches']:
    if len(words)%2==0:
        print(words)

python

In [45]:
for numbers in ['1','2','3','4','5','6','7','8','9']: # int object is not iterable
    print(sum(numbers))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
sum([1,2,3,4,5,6,7,8,9])

45

In [13]:
sum(range(1,10))

45

In [14]:
d={'country':'india','active cases':78000,'recovered':25000,'migrated':1}

In [15]:
for data in d:
    print(data)

country
active cases
recovered
migrated

In [16]:
for keys in d.keys():
    print(keys)

country
active cases
recovered
migrated

In [17]:
for values in d.values():
    print(values)

india
78000
25000
1

In [18]:
for keys,values in d.items():
    print(keys,values)

country india
active cases 78000
recovered 25000
migrated 1

In [19]:
d

{'country': 'india', 'active cases': 78000, 'recovered': 25000, 'migrated': 1}

In [22]:
for keys in d.keys():
    if keys=='country':
        print("data found")

data found

In [23]:
# code application

In [24]:
# bank application

In [25]:
cc=int(input("please enter youre credit card number"))
aa=str(cc)

if len(aa)==14:
    print("length valid. Proceed ahead")
else:
    print("youre logged out. Enter correct credit card number")
    
mm=int(input("Enter the month printed on the cc"))

if mm>=5:
    print("youre card is valid")
else:
    print("youre card has expired")
    
# check the year. if the year=2020, card is valid.if the year >2020 :valid,year<2020 ==>expired
# create a dictionary of valid bank customers
# check the name of the customer on the cc. if its a valid name proceed ahead. if its not a valid name. the session is logged out.

please enter youre credit card number090
youre logged out. Enter correct credit card number
Enter the month printed on the cc12
youre card is valid

In [26]:
# enumerate with for loop

In [29]:
list1=[1,2,3]
for data in list1:
    print(list(enumerate(list1,start=100)))

[(100, 1), (101, 2), (102, 3)]
[(100, 1), (101, 2), (102, 3)]
[(100, 1), (101, 2), (102, 3)]

In [41]:
n1=[1,2,3,4,5,6,7,8,9]
for numbers in n1:
    print(bin(numbers))

0b1
0b10
0b11
0b100
0b101
0b110
0b111
0b1000
0b1001

In [31]:
for numbers in n1:
    print(numbers**2)

1
4
9
16
25
36
49
64
81

In [33]:
for numbers in n1:
    print(hex(numbers))

0x1
0x2
0x3
0x4
0x5
0x6
0x7
0x8
0x9

In [34]:
n2=['python','machine learning']

In [35]:
for words in n2:
    print(words)

python
machine learning

In [37]:
for words in n2:
    print(words.capitalize())

Python
Machine learning

In [39]:
n=1,2

In [40]:
type(n)

tuple