#sets

In [1]:
#create simple set

s = {1,2,3,4,5,3,1,5,2,6,7}
s

{1, 2, 3, 4, 5, 6, 7}

In [2]:
string = 'lets create a set'
s1 = set(string)
s1

{' ', 'a', 'c', 'e', 'l', 'r', 's', 't'}

In [3]:
type(s1)

set

In [4]:
s2 = {'lets create a set'}
type(s2)

set

In [5]:
# set operations

#union
set_1 = {10,20,30,40,50}
set_2 = {20,40,60}
set_1 | set_2

{10, 20, 30, 40, 50, 60}

In [6]:
#intersection

set_1 & set_2

{20, 40}

In [7]:
#difference

set_1 - set_2

{10, 30, 50}

In [8]:
set_2 - set_1

{60}

In [9]:
#symmentric difference
set_1 ^ set_2

{10, 30, 50, 60}

In [12]:
dict_1 = {1:'a',2:'b',3:'c',4:'d',2:'e'}
dict_1

{1: 'a', 2: 'e', 3: 'c', 4: 'd'}

In [14]:
x = int(input('Enter age'))
if x>18:
    print('Eligible')
else:
    print('not eligible')

Enter age11
not eligible

In [16]:
x = 30
if(x<21):
    print("You're too young buddy!")
elif(21<=x<60):
    print("Eligible to work")
else:
    print("Too old for employment")

Eligible to work

In [18]:
i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [19]:
s = 'String'
for i in s:
    print (i)

S
t
r
i
n
g

In [21]:
for i in range(1,11):
    if i == 3:
        break
    else:
        print(i)

1
2

In [22]:
for i in range(1,11):
    if i == 3:
        continue
    else:
        print(i)

1
2
4
5
6
7
8
9
10

In [30]:
a = 5
b = 4
c = 10
if a>b:
    if a>c:
        print (a)
    else:
        print (c)
elif b>c:
    print (b)
else:
    print(c)

10