In [3]:
#List

my_list = ['Creating','a','simple','list']
print(my_list)
print(type(my_list))

['Creating', 'a', 'simple', 'list']
<class 'list'>

In [4]:
#repetition

my_list = ['Creating','a','simple','list']
my_list2 = my_list * 2
my_list2

['Creating', 'a', 'simple', 'list', 'Creating', 'a', 'simple', 'list']

In [6]:
#concat

my_list = ['Creating','a','simple','list']
my_list1 = ['and','concat']
concat_1 = my_list + my_list1
concat_1

['Creating', 'a', 'simple', 'list', 'and', 'concat']

In [7]:
#membership(True or False)

my_list = ['Creating','a','simple','list']
print('a' in my_list)

True

In [8]:
my_list = ['Creating','a','simple','list']
print('concat' in my_list)

False

## max min function gives answers based on Ascii values

In [9]:
my_list = ['Creating','a','simple','list']
max(my_list)

'simple'

In [10]:
my_list = ['Creating','a','simple','list']
min(my_list)

'Creating'

In [13]:
s = 'My string'
l = list(s)
l1=[]
for i in l:
    if i == ' ':
        continue
    else:
        l1.append(i)
print(l1)

['M', 'y', 's', 't', 'r', 'i', 'n', 'g']

In [15]:
l1 = [10,100,120,40]
l1.remove(l1[-1])
l1.reverse()
l1

[120, 100, 10]

In [22]:
l2 = "\n".join(my_list)
print(l2)
type(l2)
l2

Creating
a
simple
list

'Creating\na\nsimple\nlist'

In [23]:
sum(l1)

230