In [1]:
#list
simpson = ['home',34,45,'happy']
simpson.append('haha')
simpson

['home', 34, 45, 'happy', 'haha']

In [2]:
simpson.extend(['itchy','scratchy'])
simpson

['home', 34, 45, 'happy', 'haha', 'itchy', 'scratchy']

In [4]:
s = simpson.extend(['itchy','scratchy'])   #cannot do assignment while appending oe extending in the same line
print(s)

None

In [5]:
s1 = simpson.append('haha')
print(s1)

None

In [6]:
s2 = simpson
s2

['home',
 34,
 45,
 'happy',
 'haha',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha']

In [7]:
simpson.insert(3,'Son')
simpson

['home',
 34,
 45,
 'Son',
 'happy',
 'haha',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha']

In [8]:
simpson.remove('itchy')
simpson

['home',
 34,
 45,
 'Son',
 'happy',
 'haha',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha']

In [10]:
simpson.remove(56)   #Value Error

ValueError: list.remove(x): x not in list

In [12]:
simpson.pop(5) # remove element 5 and return it

'haha'

In [14]:
del simpson[0]  # delete the item but doesn't return
simpson

[45,
 'Son',
 'happy',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha']

In [15]:
simpson[2] ='krusty'   #replace item
simpson

[45,
 'Son',
 'krusty',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha']

In [16]:
neighbours = simpson + ['ned','rod','todd']   #concatenate list (slower than 'extend')
neighbours

[45,
 'Son',
 'krusty',
 'scratchy',
 'itchy',
 'scratchy',
 'itchy',
 'scratchy',
 'haha',
 'ned',
 'rod',
 'todd']

In [18]:
simpson.count('scratchy')

3

In [19]:
simpson.index('scratchy')

3

In [20]:
simpson.index('78')   #value error

ValueError: '78' is not in list

In [21]:
#list slicing
week = ['mon','tue','wed','thurs','fri']
week[0:3]

['mon', 'tue', 'wed']

In [22]:
week[:5]

['mon', 'tue', 'wed', 'thurs', 'fri']

In [23]:
week[-1:]

['fri']

In [24]:
week[::2]

['mon', 'wed', 'fri']

In [25]:
week[::-2]

['fri', 'wed', 'mon']

In [28]:
week.sort()   # sort is for same datatype
week

['fri', 'mon', 'thurs', 'tue', 'wed']

In [31]:
week.sort(reverse=True)
week

['wed', 'tue', 'thurs', 'mon', 'fri']

In [32]:
#sort by a key
week.sort(key=len)
week

['wed', 'tue', 'mon', 'fri', 'thurs']

In [33]:
week.sort(key=len,reverse=True)
week

['thurs', 'wed', 'tue', 'mon', 'fri']

In [34]:
#return a sorted list (does not change the original list)
sorted(week)

['fri', 'mon', 'thurs', 'tue', 'wed']

In [35]:
sorted(week,reverse=True)

['wed', 'tue', 'thurs', 'mon', 'fri']

In [36]:
sorted(week,reverse=True,key=len)

['thurs', 'wed', 'tue', 'mon', 'fri']

In [37]:
week

['thurs', 'wed', 'tue', 'mon', 'fri']

In [39]:
num = [10,20,30,40,50]
same_num = num    # same reference different name
num[0] = 100
print(num)
print(same_num)

[100, 20, 30, 40, 50]
[100, 20, 30, 40, 50]

In [40]:
new_num = num[:]  # copy the list
new_num[1] = 200
print(num)
print(new_num)

[100, 20, 30, 40, 50]
[100, 200, 30, 40, 50]

In [41]:
new_num1 = list(num) # copy the list
new_num1[1] = 200
print(num)
print(new_num1)

[100, 20, 30, 40, 50]
[100, 200, 30, 40, 50]

In [42]:
#check whether they are the same object
num is same_num

True

In [43]:
num is new_num

False

In [44]:
#check whether they have the same content
num==same_num

True

In [45]:
new_num == new_num1

True

In [46]:
num==new_num

False

In [48]:
#Tuple is immutable
digits = (0,1,'two')
digits = tuple([0,1,'two'])

In [49]:
zero = (0,)  #put a comma behind it to make a tuple

In [50]:
digits[2]

'two'

In [51]:
len(digits)

3

In [52]:
digits.count(1)

1

In [53]:
digits.index(0)

0

In [54]:
digits[2] = 3   #cannot change item of a tuple

TypeError: 'tuple' object does not support item assignment

In [55]:
digits += (3,4)   #cancatenate items to a tuple but cannot change value

In [56]:
digits

(0, 1, 'two', 3, 4)

In [57]:
d = (1,2,3)
d*2

(1, 2, 3, 1, 2, 3)

In [58]:
# same as list also
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
tens = [(30,20),(20,40),(50,60)]
sorted(tens)

[(20, 40), (30, 20), (50, 60)]

In [63]:
t = [('a',20),('d',40),('b',30)]
sorted(t)

[('a', 20), ('b', 30), ('d', 40)]

In [64]:
# tuple unpacking
bart = ('male',10,'simpson')
(sex,age,surname) = bart
print(sex)
print(age)
print(surname)

male
10
simpson