In [1]:
#Loops

In [5]:
l1 = [2,6,3,9,8]
for i in l1:
    print (i)

2
6
3
9
8

In [6]:
range(0,5)

range(0, 5)

In [8]:
for i in range(len(l1)):
    if i%2 == 0:
        l1[i] = 'Even'
print(l1)

['Even', 6, 'Even', 9, 'Even']

In [14]:
l2 = ['apple','mango','jackfruit','pineapple']
for i in range(len(l2)):
    l2[i]=l2[i].upper()
print(l2)

0
1
2
3
['APPLE', 'MANGO', 'JACKFRUIT', 'PINEAPPLE']

In [21]:
family = {'dad':'homer','mom':'marge','size':0}
for key,value in family.items():
    print((key,value))

('dad', 'homer')
('mom', 'marge')
('size', 0)

In [22]:
family = {'dad':'homer','mom':'marge','size':0}
for key,value in family.items():
    print((key,))

('dad',)
('mom',)
('size',)

In [25]:
d = {'a':'Mary','b':'c','e':'f','q':'Mary','p':'r','y':'Mary'}
for key in d:
    if d[key] == 'Mary':
        d[key] = 'Dora'
print(d)

{'a': 'Dora', 'b': 'c', 'e': 'f', 'q': 'Dora', 'p': 'r', 'y': 'Dora'}

In [28]:
names = [12,54,87,24,48,25,76,21,67,48]
new_list =[]
for i in names:
    if i%2 == 0:
        a = i*i
        new_list.append(a)
    else:
        a = i*i*i
        new_list.append(a)
print(names)
print(new_list)

[12, 54, 87, 24, 48, 25, 76, 21, 67, 48]
[144, 2916, 658503, 576, 2304, 15625, 5776, 9261, 300763, 2304]

In [31]:
s = 'Once upon a time there was a king. His name was Arthur. He was a great king.'
list1 = s.split()
list2=[]
list3=[]
for i in list1:
    if len(i)>4:
        list2.append(i.upper())
    else:
        list3.append(i.lower())
print(list2)
print(list3)

['THERE', 'KING.', 'ARTHUR.', 'GREAT', 'KING.']
['once', 'upon', 'a', 'time', 'was', 'a', 'his', 'name', 'was', 'he', 'was', 'a']

In [32]:
s = 'Once upon a time there was a king. His name was Arthur. He was a great king.'
temp = s.split('.')
str = ' '.join(temp)
list1=str.split()
list2=[]
list3=[]
for i in list1:
    if len(i)>4:
        list2.append(i.upper())
    else:
        list3.append(i.lower())
print(list2)
print(list3)

['THERE', 'ARTHUR', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'king', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

In [41]:
s="Once upon a time there was a king. His name was Arthur. He was a great king."
temp=[]
list1=[]
list2=[]
st=s.split('.')
for m in st:
    sp=m.split()
    temp.extend(sp)
print(temp)
for i in temp:
    if(len(i)>4):
        c=i.upper()
        list1.append(c)
    else:
        c=i.lower()
        list2.append(c)
print(list1)
print(list2)

[]
['Once', 'upon', 'a', 'time', 'there', 'was', 'a', 'king', 'His', 'name', 'was', 'Arthur', 'He', 'was', 'a', 'great', 'king']
['THERE', 'ARTHUR', 'GREAT']
['once', 'upon', 'a', 'time', 'was', 'a', 'king', 'his', 'name', 'was', 'he', 'was', 'a', 'king']

In [42]:
count = 0
while count<5:
    print('haha')
    count+=1

haha
haha
haha
haha
haha

In [44]:
l2 = ['apple','mango','jackfruit','pineapple']
i = 0
while i<len(l2):
    l2[i]=l2[i].upper()
    i+=1
print(l2)

['APPLE', 'MANGO', 'JACKFRUIT', 'PINEAPPLE']

In [45]:
l2 = ['apple','mango','jackfruit','pineapple']
i = 0
while i<len(l2):
    if l2[i] == 'jackfruit':
        break
    else:
        l2[i]=l2[i].upper()
        i+=1
print(l2)

['APPLE', 'MANGO', 'jackfruit', 'pineapple']

Write a program to add the first n natural number. Take the value of n as an input from the input

In [48]:
n = int(input('Enter a value'))
i = 1
ans = 0
while i <= n:
    ans = ans + i
    i+=1
print(ans)

Enter a value10
55