# Day1- 11may

# Statement Syntax
    # Single Line comment

In [ ]:
print('National Stock Exchange')   #India's stock exchange

In [ ]:
#print('mumbai stock exchange')

In [ ]:
print('mumbai stock exchange # Bombay')

In [ ]:
temp = 25   #assignment operator
print(temp)

# Quote characters

In [ ]:
temp1 = 'Hello'
print(temp1)

In [ ]:
temp2 = "hello world"
print(temp2)

In [ ]:
temp3 = 'hello world"

# Multiple Statements on Single Line

In [ ]:
temp1 = 45;  temp2 = 'Hello world'
print(temp1)  ; print(temp2)

# Variable Names

In [ ]:
temp1 = 45

In [ ]:
Temp1 = 46

In [ ]:
print(temp1)

In [ ]:
print(Temp1)

In [ ]:
#Case Sensitive variable names

In [ ]:
temp456num = 345

In [ ]:
temp_num = 987

In [ ]:
456tempnum = 888  # variable names should NOT start with numbers

In [ ]:
temp$me = "hello"  # special character not allowed as part of Variable names

In [ ]:
temp#me = 12

In [ ]:
print(temp)

In [ ]:
def = 20  #internal keywords cannot be used as variable names

In [ ]:
for = 34

In [ ]:
import keyword

In [ ]:
keyword.kwlist

In [ ]:
pass = 20

In [ ]:
with = 40

# Indentation

In [ ]:
marks = 71

if marks >= 70:
    print('Distinction')
    print("marks is ", marks)
else:
        print('No Disinction')
        print("marks is ", marks)

print('hello')

In [ ]:
def prgmult(x,y):
    r = x * y
   print(r)
    return (r)

print('hello')

In [ ]:
prgmult(10,20)

# Paragraphs and Multi line comments

In [ ]:
word = 'my_word'
sentence = "this is a sentence"

In [ ]:
sentence = "this is a sentence dsdsdk klkmlk 
dsdlskdlskd kldskldsl  dlsdklsdklskd "

In [ ]:
paragraph = '''  dskdsjdk dskdjksdjskdf;ldkflkjfd
fdfkdjfkdfj dkfdkfjdf
gfjdkdjgkfdjg

gjfkgfkgjfkgjfg fjdkfjd

'''

In [ ]:
print(paragraph)

In [ ]:
'''  dskdsjdk dskdjksdjskdf;ldkflkjfd
fdfkdjfkdfj dkfdkfjdf
gfjdkdjgkfdjg

gjfkgfkgjfkgjfg fjdkfjd

'''

print("above is a multi line comment")

# Data Types

In [ ]:
#Numbers,  Strings, Lists, Tuples, dictionaries, Set

In [ ]:
temp = 20

In [ ]:
type(temp)

In [ ]:
print(type(temp))

In [ ]:
print(type(40))

In [ ]:
temp ='hello'

In [ ]:
print(type(temp))

In [ ]:
print(type('world'))

In [ ]:
a = b = c = 34

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
x,y,z = 34, 'hello', 98.56  #positional mapping

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
print(z)

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
print(type(x))
print(type(z))

In [ ]:
print(type(z))

In [ ]:
temp

# Number types

In [ ]:
n1 = 234
print(n1)
print(type(n1))

In [ ]:
n1 = 234.456
print(n1)
print(type(n1))

In [ ]:
n1 = 234.456j
print(n1)
print(type(n1))

# Strings

In [ ]:
ms1 = 'hello'

In [ ]:
ms2 = "hello"

In [ ]:
type(ms1)

In [ ]:
print(type(ms2))

In [ ]:
# String Objects are Non Mutable  or Immutable

In [ ]:
ms = 'national stock exchange'

In [ ]:
ms[0]  #using index operator  []

In [ ]:
ms[2]

In [ ]:
ms[0] = 's'

# List syntax

In [ ]:
mylist = [1,2,3,'hello','world',4,5,6]

In [ ]:
print(mylist)

In [ ]:
print(type(mylist))

In [ ]:
mylist[2]

In [ ]:
mylist[3] = 30

In [ ]:
mylist

In [ ]:
# List are Mutable objects, or Changeable

# tuples

In [ ]:
mytuple = (1,2,3,'hello','world',4,5,6)

In [ ]:
print(mytuple)

In [ ]:
print(type(mytuple))

In [ ]:
mytuple[2]

In [ ]:
mytuple[3] = 30

In [ ]:
#Tuples are Immutable Heterogrnous array like data structures.  Numerically indexed

# Dictionaries

In [ ]:
student = {'Name': 'Python', "ID": 1234, 91:'India'}  #key:value

In [ ]:
print(student)

In [ ]:
print(type(student))

In [ ]:
student[0]

In [ ]:
student['Name']

In [ ]:
student['Name'] = 'Program'

In [ ]:
student['Name']

In [ ]:
student[91]

In [ ]:
print(student)

In [ ]:
#Mutable, can be accessed using Keys, numericak indexing not possible

# Getting data from Keyboard

In [ ]:
value = input("Enter an Integer ")  # always returns a string

In [ ]:
print(value)

In [ ]:
print(type(value))

In [ ]:
v = int(value) + 55

In [ ]:
print(v)

In [ ]:
type(v)

In [ ]:
int('hello')

In [ ]:
int('123')

In [ ]:
ms = '123'
print(ms)
print(type(ms))

In [ ]:
myint = int(ms)
print(myint)
print(type(myint))

In [ ]:
age = int(input('Enter age'))
print(age)
print(type(age))

In [ ]:
name = input('Enter Name')
print(name)
print(type(name))

# Day2 12-May

# print method

In [ ]:
print('hello world')

In [ ]:
print(30)

In [ ]:
num_license = 39
os_name = 'Windows_10'

In [ ]:
print("there are "+str(35)+' licenses of '+ os_name)  #Not recommended. No Hardcoding required.

In [ ]:
print("There are %d licenses of %s " %(num_license, os_name))  #Old Style, c_style

In [ ]:
print("There are {} licenses of {} ".format(os_name, num_license))  #Latest_format, Recommended.

In [ ]:
print("There are {:d} licenses of {:s} ".format(num_license, os_name))  #Latest_format, Recommended.

# Typical Escape Sequences

In [ ]:
print('hello world')

In [ ]:
print('hello \nworld')

In [ ]:
print('helloworld')

In [ ]:
print('hello\tworld')

In [ ]:
print('c:\tiger')

In [ ]:
print('c:\\tiger')

In [ ]:
print('c:\Tiger')

# operators

    #Arithmetic Operators

In [ ]:
x = 20; y = 3

In [ ]:
x+y

In [ ]:
a = x-y

In [ ]:
x*y

In [ ]:
x/y

In [ ]:
x//y

In [ ]:
x%y

In [ ]:
stock_yesterday = 1840
stock_today = 1820.3
stock_diff = stock_today - stock_yesterday
print(stock_diff)
print(type(stock_diff))

    #Relational Operators

In [ ]:
marks = 51
result = marks > 60
print(result)
print(type(result))

In [ ]:
#  True   and   False  . These are bool objects

In [ ]:
x = 20; y = 20

In [ ]:
x == y

In [ ]:
x > y

In [ ]:
x < y

In [ ]:
x != y

In [ ]:
x >= y

In [ ]:
br = x <= y

In [ ]:
br

In [ ]:
type(br)

In [ ]:
bool(-1)

In [ ]:
bool(False)

In [ ]:
bool([])

In [ ]:
ms = ''
print(bool(ms))

In [ ]:
mlist = [1,2,3]
print(bool(mlist))

In [ ]:
x = 0

In [ ]:
bool(x)

In [ ]:
not(bool(x))

In [ ]:
x = 0
not(x)  #not(bool(x))

In [ ]:
not(True)

In [ ]:
not(False)

    # Membership Operator

In [ ]:
br = 'good'  not in "this is a Good bool"
print(br)

In [ ]:
blocked_websites = ["www.facebook.com", "www.gmail.com", "www.twitter.com"]
your_website = input("Enter your website")

if your_website.lower() in blocked_websites:
    print("{} Not allowed".format(your_website))
else:
    print("{} allowed".format(your_website))

In [ ]:
a = 45
b = 23

In [ ]:
a is b

In [ ]:
x = 5 * 3 ** 2
x = 15 ** 2

In [ ]:
x

# if_elif_else

In [ ]:
marks = 45

if marks > 75:
    print("DC")
elif marks > 65:
    print("FC")
elif marks > 35:
    print("PC")
else:
    print("Fail")
    
print("Done")

# strings ds

In [ ]:
ms = "ABCDEFGHIJKL"

In [ ]:
ms[3] = 'f'

In [ ]:
x = len(ms)
print(x)

In [ ]:
ms[0]

In [ ]:
ms[-1]

In [ ]:
ms[5]

In [ ]:
ms[-5]

In [ ]:
ms[x-1]

In [ ]:
ms[-x]

In [ ]:
ms

In [ ]:
ms[0:3:1]   #0, 1, 2, 3, 4, ,5 , 6

In [ ]:
ms[0:6:2]   #0, 2, 4, 6, 8, 10, 12...

In [ ]:
ms[-8:-2:1]  # -8, -7, -6, -5, -4, -3 , -2 , -1

In [ ]:
ms[-8:-2:-1]   #-8, -9, -10, -11, ....

In [ ]:
ms[:]

In [ ]:
ms[::]

In [ ]:
ms[::-1]

# Basic function definition signature--basic

In [ ]:
ms = 'hello world'

In [ ]:
ms[0] = 'j'
print(ms)

In [ ]:
ms1 = 'j' + ms[1:]
print(ms1)

In [ ]:
ms

In [ ]:
len(ms)

In [ ]:
ms

In [ ]:
ms = 'hello' + "python"
print(ms)

In [ ]:
ms = 'hello_' * 3   # repetative self concatenation
print(ms)

# Methods of String Class

In [ ]:
dir('hello')

In [ ]:
x = 'hello'
dir(x)

In [ ]:
type(x)

In [ ]:
dir(str)

In [ ]:
help(str.find)

In [ ]:
ms = "this is hello WoRld of python"
print(ms)

In [ ]:
ms.find('is')

In [ ]:
ms

In [ ]:
ms.swapcase()

In [ ]:
dir(20)

In [ ]:
dir(list)

In [ ]:
dir(tuple)

In [ ]:
dir(dict)

In [ ]:
dir(str)

In [ ]:
dir(str)

In [ ]:
help(str.find)

In [ ]:
mystr = 'statement'

In [ ]:
mystr.find('t')

In [ ]:
mystr.find('e',0,3)

In [ ]:
dir(str)

In [ ]:
help(str.startswith)

In [ ]:
dir(str)

In [ ]:
mystr

In [ ]:
mystr.count('te')

In [ ]:
mystr = "STAtement stateMENT"

In [ ]:
mystr.count('te')

In [ ]:
mystr.lower()

In [ ]:
mystr.upper()

In [ ]:
mystr.swapcase()

In [ ]:
mystr.title()

In [ ]:
newstr = mystr.capitalize()
print(mystr)
print(newstr)

In [ ]:
help(str.title)

In [ ]:
mystr

In [ ]:
mystr = 'one world'

In [ ]:
newstr = mystr.replace('world', 'country')
print(mystr)
print(newstr)

In [ ]:
mystr = 'One world'

In [ ]:
newstr = mystr.replace('O', '$').replace('o','@')
print(mystr)
print(newstr)

In [ ]:
mystr = '    ::::cap lap tap map::::     '

In [ ]:
newstr = mystr.strip()
print(newstr)

In [ ]:
newstr1 = newstr.strip(':')
print(newstr1)

In [ ]:
print(newstr)
print(newstr.lstrip(':'))
print(newstr.rstrip(':'))

In [ ]:
type("2020")

In [ ]:
type(2020)

In [ ]:
mystr = "2019 covid19 2020 covid20"

In [ ]:
count = 0

for char in mystr:
    if char.isdigit():
        count = count + 1
print(count)

In [ ]:
count = 0

for char in mystr:
    if char.isalpha():
        count = count + 1
print(count)

In [ ]:
mystr3 = 'ban,can,ran#lan,fan,pan#van,man zan'

In [ ]:
mystr3.split()

In [ ]:
x = mystr3.split()
print(x)
print(type(x))

In [ ]:
x = mystr3.split('#')
print(x)
print(type(x))

In [ ]:
x = mystr3.split(',')
print(x)
print(type(x))

In [ ]:
x

In [ ]:
':'.join(x)

In [ ]:
newstr = ':'.join(x)
print(newstr)
print(type(newstr))

# Lists

In [ ]:
companies_list = ['RIL', 'TATA', 'birla', 'Mahindra']

In [ ]:
for company in companies_list:
    print(company,  company.lower(), company.isupper())

In [ ]:
mylist = [1,4,6,7,10,12]
for num in mylist:
    if num %2 == 0:
        print(num)

In [ ]:
a = [1,2,3]
print(a+a)
print(a*3)

In [ ]:
a

In [ ]:
a = [11,22,33]

In [ ]:
a

In [ ]:
del a[1]

In [ ]:
a

In [ ]:
a = [11,22,33,44,55,66,77,88,99]

In [ ]:
del a[2:5]

In [ ]:
a

In [ ]:
matrix = [  [1,2,3], [4,5,6], [7,8,9]     ]

In [ ]:
print(matrix)

In [ ]:
print(matrix[1])
print(matrix[1][1])

In [ ]:
dir(list)

In [ ]:
help(list.append)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.append(21)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.extend([100,200,300])
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.append([100,200,300])
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.insert(2,999)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.pop()
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1]
mylist1.pop(2)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1,3]
mylist1.remove(3)
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1,3]
mylist1.reverse()
print(mylist1)

In [ ]:
mylist1 = [2,4,6,3,5,7,1,3]
i = mylist1.index(5)
print(i)

In [ ]:
mylist1 = [2,4,6,3,5,7,1,3]
i = mylist1.count(3)
print(i)

In [ ]:
mylist1 = [11,22,33,44,55,66,77,88,99]

In [ ]:
mylist2 = mylist1

In [ ]:
mylist2

In [ ]:
mylist2.pop()
print(mylist2)
print(mylist1)

In [ ]:
mylist2 is mylist1

In [ ]:
mylist3 = mylist1.copy()

In [ ]:
mylist3 is mylist1

In [ ]:
mylist1

In [ ]:
mylist3

In [ ]:
mylist3.pop()

In [ ]:
mylist1

In [ ]:
mylist3

In [ ]:
mylist1 = [20,2,5,4,8,7,11,9]

In [ ]:
mylist1

In [ ]:
mylist1 = [20,2,5,4,8,7,11,9]
mylist1.sort()
print(mylist1)

In [ ]:
mylist1 = [20,2,5,4,8,7,11,9]
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = [20,2,5,4,8,7,11,9]
mylist1.clear()
print(mylist1)

#  Tuples

In [ ]:
mt = (123,456)
print(mt)
print(type(mt))

In [ ]:
mt = (123)
print(mt)
print(type(mt))

In [ ]:
mt = (123,)
print(mt)
print(type(mt))

In [ ]:
a = 20; b =30

In [ ]:
a,b = b,a

In [ ]:
print(a,b)

In [ ]:
mt = (11,33,55,77)
for n in mt:
    print(n)

In [ ]:
mt

In [ ]:
mlist = list(mt)

In [ ]:
mlist

In [ ]:
mlist.pop()

In [ ]:
mlist

In [ ]:
mt = tuple(mlist)

In [ ]:
mt

In [ ]:
mt

In [ ]:
max(mt)

In [ ]:
min(mt)

In [ ]:
type(mt)

In [ ]:
dir(tuple)

In [ ]:
mt

In [ ]:
mt.count(33)

In [ ]:
mt = (11,22,33,44,11,22,11,55)

In [ ]:
mt.count(11)

In [ ]:
mt.index(44)

# Dictionary

In [ ]:
myd1 = {'Name':'Arun', 'Balance':20000, 'UID':123456}

In [ ]:
print(myd1)

In [ ]:
myd1['PINCODE'] = 560040

In [ ]:
print(myd1)

In [ ]:
myd1['Balance'] = 100000

In [ ]:
print(myd1)

In [ ]:
del myd1['UID']

In [ ]:
print(myd1)

In [ ]:
len(myd1)

In [ ]:
print(type(myd1))

In [ ]:
dir(dict)

In [ ]:
myd1

In [ ]:
d = myd1.keys()
print(d)
print(type(d))
print(list(d))

In [ ]:
d = myd1.values()
print(d)
print(type(d))
print(list(d))

In [ ]:
help(myd1.values)

In [ ]:
d = myd1.items()
print(d)
print(type(d))
print(list(d))

In [ ]:
mt1 = ('Game', 'Player', 'Age')

In [ ]:
myd2 = dict.fromkeys(mt1)
print(myd2)

In [ ]:
myd2 = dict.fromkeys(mt1, 'blanknow')
print(myd2)

In [ ]:
#zip functionality: of keys and values to create a dict....  TBD  .. seperate values to each keys

In [ ]:
myd2

In [ ]:
myd1

In [ ]:
myd1.get('City')

In [ ]:
myd1.get('City', 'no such key')

In [ ]:
myd1.get('Balance', 'no such key')

# Set

In [ ]:
myset2 = set()

In [ ]:
print(myset2)

In [ ]:
type(myset2)

In [ ]:
dir(myset2)

In [ ]:
myset2.add(20)

In [ ]:
myset2

In [ ]:
myset2.add(21)
myset2

In [ ]:
myset2.add(20)
myset2

In [ ]:
myset2.clear()

In [ ]:
myset2

In [ ]:
myset1 = {2,4,6,8,5,7,11,13}
myset2 = {6,9,12,15,11,13,17,19}

In [ ]:
type(myset2)

In [ ]:
dir(set)

In [ ]:
myset1.union(myset2)

In [ ]:
myset1.intersection(myset2)

In [ ]:
myset1-myset2

In [ ]:
myset1

In [ ]:
myset2

In [ ]:
myset2-myset1

In [ ]:
dir(set)

In [ ]:
myset1.symmetric_difference(myset2)

In [ ]:
myset1

In [ ]:
myset2

# Loops

In [ ]:
mytemp = int(input('Enter Temperature'))

if mytemp > 99:
    print("It is Hot")
elif mytemp < 60:
    print('It is Cold')
else:
    print('It is Just Right')

In [ ]:
r = range(100)
print(r)
print(list(r))

In [ ]:
r = range(0,101,2)
print(list(r))

In [ ]:
print(list(range(1,101,2)))

In [ ]:
print(list(range(90,101)))

In [ ]:
print(list(range(201,101,-2)))

In [ ]:
n = 1
while n < 11:
    print(n)
    n = n + 1

In [ ]:
mystring = 'hello world'

for a_letter in mystring:
    print(a_letter)
    
print('done')

In [ ]:
mystring = 'hello world'

for a_letter in mystring:
    print(a_letter, end=' : ')
    
print('done')
print('done1')
print()
print('done2')

In [ ]:
stocks = ['ibm', 'csco', 'wipro', 'tcs', 'infy']

for item in stocks:
    print(item, len(item))
    
print('done')

In [ ]:
for num in range(0,101,2):
    print(num, end=': ')

In [ ]:
myd1

In [ ]:
myd1.keys()

In [ ]:
for k in myd1.keys():
    print(k)

In [ ]:
for v in myd1.values():
    print(v)

In [ ]:
for item in myd1.items():
    print(item)

In [ ]:
myd1.items()

In [ ]:
for k,v in myd1.items():
    print(k,':',v)

In [ ]:
mylist1 = [11,22,33,44,55]
mylist2 = [111,222,333,444,555]
mylist3 = [1111,2222,3333,4444,5555]

In [ ]:
z = zip(mylist1,mylist2,mylist3)
print(z)

In [ ]:
list(z)

In [ ]:
list(z)

In [ ]:
#Iterator

In [ ]:
z = zip(mylist1,mylist2,mylist3)
for item in z:
    print(item)

In [ ]:
z = zip(mylist1,mylist2,mylist3)
for p,q,r in z:
    print(p,q,r)

In [ ]:
a = (10,20,30)

In [ ]:
type(a)

In [ ]:
a,b,c = (10,20,30)
print(a)
print(b)
print(c)

In [ ]:
for letter in 'hello world':
    print(letter)
    if (letter == 'o'):
        break

In [ ]:
for letter in 'hello world':
    if (letter == 'o'):
        continue
    print(letter)

# Basic Function Definition

In [ ]:
def myfunction(a,b,c):
    print(a,b,c,a+b+c)
    
x = myfunction(" hello", ' world', ' python')
print(x)

In [ ]:
def myfunction(a,b,c):
    print(a,b,c,a+b+c)
    
    return 0
    
x = myfunction(" hello", ' world', ' python')
print(x)

In [ ]:
print(type(myfunction))

In [ ]:
#define a function called   isEven

def isEven(n1):
    if n1 % 2 == 0:
        return True
    else:
        return False

In [ ]:
isEven(22)

In [ ]:
isEven(45)

In [ ]:
isEven(0)

In [ ]:
isEven(-20)

In [ ]:
isEven(-47)

In [ ]:
def isMult_5_7(n1):
    if n1%5 ==0   and n1%7 == 0:
        return True
    else:
        return False

In [ ]:
isMult_5_7(35)

In [ ]:
def isTrouble(talk, hour):
    if talk == False:
        return False  #no trouble
    else:
        if hour >= 20  or hour < 7:
            return True
        else:
            return False

In [ ]:
isTrouble(talk=True,hour = 15)

In [ ]:
isTrouble(talk=True,hour = 22)

In [ ]:
isTrouble(talk=False,hour = 22)

In [ ]:
#write a functoin, print even number, from  n1 to n2

In [ ]:
def fn_even_n1n2(n1,n2):
    for num in range(n1,n2+1):
        if isEven(num):
            print(num)

In [ ]:
n1 = int(input("Enter first Number"))
n2 = int(input("Enter Second Number"))
fn_even_n1n2(n1,n2)

In [ ]:
def count_digits_in_string(mystring):
    count = 0
    for char in mystring:
        if char.isdigit() == True:
            count = count + 1
        
    return count

In [ ]:
count_digits_in_string("hello")

In [ ]:
count_digits_in_string("hello12345python")

In [ ]:
count_digits_in_string("123")

In [ ]:
def count_lower_in_string(mystring):
    count = 0
    for char in mystring:
        if char.islower() == True:
            count = count + 1
        
    return count

In [ ]:
count_lower_in_string('ABCDEFG')

In [ ]:
count_lower_in_string('xyxpqr')

In [ ]:
count_lower_in_string('abXYcd')

# List Comprehension

In [ ]:
nlist = []
for n in range(20):
    nlist.append(n)
print(nlist)

In [ ]:
numlist =  [      n         for n in range(20)]  # first loop iteration, then to left of loop expression
print(numlist)

In [ ]:
numlistexp =  [      (2**n)         for n in range(25+1)]  # first signature: loop iteration, then to left of loop expression
print(numlistexp)

In [ ]:
numlistexp_even = [   2**n   for n in range(26)  if n%2==0] #2nd signature.. for loop->condition to right of loop->if True->final expressions
print(numlistexp_even)

In [ ]:
nummult5_7 = [  num   for num in range(1000)  if num%5==0  and num%7==0]
print(nummult5_7)

In [ ]:
#  0,-1,2,-3,4,-5,6,-7

In [ ]:
pevennodd = [    n if n%2==0 else -n    for n in range(100)  ]  #3rd singnature forloop-> finalexpresion( val if cond is true else -val  )
print(pevennodd)

In [ ]:
pevennodd_m3 = [  n if n%2==0 else -n      for n in range(100) if n%3==0 ]  #4rd singnature forloop-> gating_condition True -> finalexpresion( val if cond is true else -val  )
print(pevennodd_m3)

In [ ]:
pevennodd_m3 = []
for n in range(100):
    if n%3 == 0:    #Gating Condition
        if n % 2 == 0:   # final expression condition
            pevennodd_m3.append(n)
        else:
            pevennodd_m3.append(-n)
print(pevennodd_m3)

In [ ]:
mylist1 = [2,4,6,8,10]
mylist2 = [1,3,5,7,9]
#mylist = [2,12,30,56,90]

mylist = [  n1*n2       for n1,n2 in zip(mylist1,mylist2) ]
print(mylist)

In [ ]:
mylist1 = [2,4,6,8,10]
mylist2 = [1,3,5,7,9]
#mylist = [2*1,2*3,2*5,2*7,2*9, 4*1,....]

In [ ]:
mylist = [     n1*n2         for n1 in mylist1  for n2 in mylist2        ]
print(mylist)

In [ ]:
mylist = []
for n1 in mylist1:
    for n2 in mylist2:
        mylist.append(n1*n2)
print(mylist)

In [ ]:
mt345 = [  ("{} x {} = {} ".format(n1,n2,n1*n2)) for n1 in range(3,6) for n2 in range(1,11)]
for item in mt345:
    print(item)

In [ ]:
mt345

In [ ]:
x = [print(i,'X',j,'=',i*j) for i in range(3,6) for j in range(1,11)]
print(x)

In [ ]:
#return None

In [ ]:
isEven,  number as parameter, True if Even False if Odd

In [ ]:
def isEven(num):
    return num%2 == 0

In [ ]:
isEven(20)

In [ ]:
isEven(21)

In [ ]:
def isTrouble(hour,talking):
    return talking and (hour<7 or hour>20)

print(isTrouble(6,True))
print(isTrouble(6,False))

print(isTrouble(22,True))
print(isTrouble(22,False))

print(isTrouble(12,True))
print(isTrouble(12,False))

In [ ]:
def marks(marks):
    if marks>=70:
        print('Distinction and you get highest grade')
    elif 70>marks>=60:
        print('First Class and need {0} marks to get Disntinction'.format(70-marks))
    elif 60>marks>=50:
        print('Second class and need {0} marks to get Disntinction'.format(60-marks))
    elif 50>marks>=35:
        print('Pass Marks and need {0} marks to get Disntinction'.format(50-marks))
    else:
        print('Fail and need {0} marks to get Disntinction'.format(35-marks))
marks(39)

In [ ]:
#Write a fn to count number of alpha and digits in a given string

def strcount(mystr):
    alphacount = 0
    digitcount = 0
    alncount = 0
    for letter in mystr:
        if letter.isdigit() == True:
            digitcount = digitcount + 1
            
        if letter.isalpha() == True:
            alphacount = alphacount + 1
            
        if letter.isalnum() == True:
            alncount = alncount + 1
        
    return digitcount, alphacount, alncount

In [ ]:
d,a,ad = strcount('Hello123World@Python')
print(d,a,ad)

t = strcount('123Hello123World@Python')
print(t)
print(t[1])

In [ ]:
def fnStringMirror(str):
    return str+str[::-1]
print(fnStringMirror('blue'))

In [ ]:
len('Hello123World@Python')

In [ ]:
#write a fn , which takes word as a parameter.  Returns the frequency of each character in the word.
def charfreq(wordstr):
    myd1 = {}
    for char in wordstr:
        myd1[char] = myd1.get(char,0) + 1
    return myd1

freq = charfreq("helloworldpython")
print(freq)

In [ ]:
#write a fn , which takes sentence as a parameter.  Returns the frequency of each word in the sentence.

In [ ]:
def wordfreq(sentencestr):
    myd2 = {}
    wordlist = sentencestr.split()
    for word in wordlist:
        myd2[word] = myd2.get(word,0) + 1
    return myd2

freq = wordfreq("hello world python is the first program in the python language")
print(freq)

In [ ]:
'''
“hello world and practice makes perfect and hello world again”

“again and hello makes perfect practice world”


'''

In [ ]:
mystr1 = "hello world and practice makes perfect and hello world again"

def sorted_word(mystr):
    
    mysplitlist = mystr.split()
    print(mysplitlist)
    s1 = set(mysplitlist)
    print(s1)
    sorted_list = sorted(s1)
    print(sorted_list)
    print(type(sorted_list))
    
    
    sorted_lst = sorted(set(mystr.split()))
    return sorted_list

sorted_word(mystr1)

In [ ]:
dir(str)

In [ ]:
mylist1 = [10,20,30,40,50]
x = mylist1.append(25)
print(x)
print(mylist1)

In [ ]:
listsquare = [n**2 for n in range(10,21)]
print(listsquare)

In [ ]:
oddsq = [n**2 for n in range(10,51) if n%2==1]
print(oddsq)

In [ ]:
e2o3 = [n**2 if n%2 == 0 else n**3 for n in range(10,51)]
print(e2o3)

In [ ]:
e2o3m3 = [n**2 if n%2 == 0 else n**3 for n in range(10,51)  if n%3 == 0]
print(e2o3m3)

In [ ]:
#shopping list

In [ ]:
shoplist = []

while True:
    item = input("Enter Next shopping Item")
    if item == 'endshopping':
        break
    shoplist.append(item)

print(shoplist)

In [ ]:
def fnMirror(mystr):
    return mystr+mystr[::-1]

x = fnMirror('Blue');  print(x)
x = fnMirror('Python');  print(x)
x = fnMirror('World');  print(x)

In [ ]:
#Write a program to compute the frequency of the words from the input sentence. 
#Display the frequency of each word from the sentence.

In [ ]:
#"helloworld".  h:1, e:1, l:3, o:2, w:1 r:1 d:1

In [ ]:
mystring = "HELLO_WORLD"
myd1 = {}


for char in mystring:
    myd1[char] = myd1.get(char,0) + 1

In [ ]:
myd1

In [ ]:
mystring = "the vendor is the supplier of masks in the city of delhi"
myd2 = {}

mylist = mystring.split()
print(mylist)

for newstring in mylist:
    myd2[newstring] = myd2.get(newstring,0) + 1
    
print(myd2)

# Pascals Triangle

In [1]:
def pt1_display(pt,nr):
    for i in range(nr):
        pregap = nr * (nr - i)
        print(" "*pregap,end="")
        for j in range(0,i+1):
            print('{0:<{w}}'.format(pt[i][j],w=nr*2),end="")
        print()

In [2]:
nr = 7
pt = []
for i in range(nr):
    pt.append([1]*(i+1))
print('checkpoint1:: ',pt)

for r in range(2,nr):
    for c in range(1,r):
        pt[r][c]=pt[r-1][c-1]+pt[r-1][c]
print('checkpoint2:: ',pt)

pt1_display(pt,nr)

checkpoint1::  [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
checkpoint2::  [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1], [1, 6, 15, 20, 15, 6, 1]]
                                                 1
                                          1             1
                                   1             2             1
                            1             3             3             1
                     1             4             6             4             1
              1             5             10            10            5             1
       1             6             15            20            15            6             1

In [ ]:
11**2

# Set Comprehension

In [3]:
mylist = [  num%3   for num in range(30)]
print(mylist)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [4]:
myset = {  num%3   for num in range(30)}
print(myset)

{0, 1, 2}

# Dictionary Comprehension

In [5]:
myd = {  num:num%3   for num in range(30)}
print(myd)

{0: 0, 1: 1, 2: 2, 3: 0, 4: 1, 5: 2, 6: 0, 7: 1, 8: 2, 9: 0, 10: 1, 11: 2, 12: 0, 13: 1, 14: 2, 15: 0, 16: 1, 17: 2, 18: 0, 19: 1, 20: 2, 21: 0, 22: 1, 23: 2, 24: 0, 25: 1, 26: 2, 27: 0, 28: 1, 29: 2}

In [6]:
myd = {  'r'+str(num):num%3   for num in range(30)}
print(myd)

{'r0': 0, 'r1': 1, 'r2': 2, 'r3': 0, 'r4': 1, 'r5': 2, 'r6': 0, 'r7': 1, 'r8': 2, 'r9': 0, 'r10': 1, 'r11': 2, 'r12': 0, 'r13': 1, 'r14': 2, 'r15': 0, 'r16': 1, 'r17': 2, 'r18': 0, 'r19': 1, 'r20': 2, 'r21': 0, 'r22': 1, 'r23': 2, 'r24': 0, 'r25': 1, 'r26': 2, 'r27': 0, 'r28': 1, 'r29': 2}

# Lambda

In [7]:
def addsum(x,y):
    return (x+y)

addsum = lambda x,y : x + y

In [8]:
isEven = lambda num : num%2 == 0
isOdd = lambda num : num%2 != 0

In [9]:
isEven(20)

True

In [ ]:
isEven(-20)

In [ ]:
isOdd(21)

In [ ]:
isOdd(-20)

In [ ]:
absdiff = lambda n1,n2 : n1-n2 if n1 > n2 else n2-n1

In [ ]:
absdiff(2,-20)

In [ ]:
absdiff(2,20)

In [ ]:
absdiff(20,2)

# Map functionality

In [ ]:
miles = [2,4,3,5,6,7]
kms = []

In [ ]:
kms = []
for num in miles:
    kms.append(num*1.6)
print(kms)

In [ ]:
kms = [ num*1.6  for num in miles]
print(kms)

In [ ]:
m2k = lambda m: m * 1.6

In [ ]:
kms = map(m2k, miles)   #iterator...  Consummable only once.further access leads to empty.
print(kms)
print(type(kms))
kmslist = list(kms);  print(kmslist)
print(list(kms))

In [ ]:
kms = map(lambda m: m * 1.6, miles)   #iterator...  Consummable only once.further access leads to empty.
print(kms)
print(type(kms))
for item in kms:
    print(item)
kmslist = list(kms);  print(kmslist)
print(list(kms))

In [ ]:
#feet to inches... using map-lambda-anonymously

In [ ]:
feet = [5,10,15,13,36]
list(map(lambda x:x*12,feet))

In [ ]:
#add 5 science marks with 5 math marks and get 5 total marks, using map-lambda-anonymously

In [ ]:
smarks = [50,60,70,80,90]
mmarks = [55,65,75,85,95]
tmarks = []

In [ ]:
tmarks = list(map(lambda x,y:(x+y,x-y),smarks,mmarks))
print(tmarks)

In [ ]:
tmarks = map(lambda x,y:(x+y,x-y),smarks,mmarks)
print(list(tmarks))
print(list(tmarks))

# Filter

In [ ]:
numlist = list(range(1,80,3))
print(numlist)

In [ ]:
isEven(20)

In [ ]:
evenlist = filter(isEven ,  numlist)
print(type(evenlist))
print(list(evenlist))

In [ ]:
bool(10)

In [ ]:
oddlist = filter(lambda n:n%2!=0, numlist)
print(list(oddlist))

In [ ]:
#filter for multiples of 2 and 5 from numlist

In [ ]:
list(filter(lambda x : x%2==0 and x%5==0, numlist))

In [ ]:
numlist

In [ ]:
#pnumber = 7,13,19,31,37,43
isPrime(...)

In [ ]:
def isPrime(num):
    if num ==1:
        return False
    for i in range(2,(num//2)+1):
        if num%i==0:
            return False
    else:
        return True

isPrime(23)

In [ ]:
plist = filter(isPrime, numlist)
print(list(plist))

# Arithmetic Reduction

In [ ]:
# 5,4,3,2,1   5+4+3+2+1 = 15,   5*4*3*2*1 = 5! = 120

In [ ]:
from functools import reduce

In [ ]:
numlist

In [ ]:
sum(numlist)

In [ ]:
rsum = reduce(lambda x,y : x+y, numlist)
print(rsum)

In [ ]:
def addsum(x,y):
    print(x,y)
    return (x+y)

In [ ]:
rsum = reduce(addsum, numlist)
print(rsum)

In [ ]:
from itertools import accumulate

In [ ]:
rsum = accumulate(numlist, lambda x,y : x+y)
print(list(rsum))

# Parameter Passing

In [10]:
def myfunction(*args):
    print(args)
    print(type(args))
    
    return None

In [11]:
myfunction(3)

(3,)
<class 'tuple'>

In [12]:
myfunction(3,4,5,6,7,8,9)   #  ->  myfunction((3,4,5,6,7,8,9))  will get packed into a tuple

(3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

In [13]:
def myfunction1(a,b,*args):   #Variable Parameter should be after required parameters
    print(a,b)
    print(args)
    print(type(args))
    
    return None

In [14]:
myfunction1(3,4,5,6,7,8,9)

3 4
(5, 6, 7, 8, 9)
<class 'tuple'>

In [15]:
def summ(*args):
    return sum((args))

In [16]:
summ(3,4,5,6,7,8,9,2,3,4)

51

In [17]:
summ(3,4,5,6,2,3,4)

27

In [18]:
def myfunction2(a,b,c):
    print(a,b,c)
    print(type(a),type(b),type(c))
    return None

In [19]:
myfunction2(20,30,40)

20 30 40
<class 'int'> <class 'int'> <class 'int'>

In [20]:
myt1 = (10,20,30)

In [ ]:
#myfunction2(myt1)  #error

In [ ]:
myfunction2(myt1[0],myt1[1],myt1[2])

In [ ]:
myfunction2(*myt1)   # myfunction2(myt1[0],myt1[1],myt1[2],myt1[3])
#tuple gets unpacked. length of tuple must be same as number of parameters in function

# Variable parameters through Dictionary DS.

In [21]:
def myfunction1(a,b,c):
    print(a,b,c)
    d = a+b+c
    return d

In [22]:
myd1 = {'a':20, 'b':30, 'x':40}
print(myd1)

{'a': 20, 'b': 30, 'x': 40}

In [23]:
s = myfunction1(myd1)  #error

TypeError: myfunction1() missing 2 required positional arguments: 'b' and 'c'

In [24]:
s = myfunction1(*myd1)   # *dict, keys get unpacked, and are passed as parameters  myfunction1(myd1.keys[0],myd1.keys[1],myd1.keys[2])
print(s)

a b x
abx

In [25]:
s = myfunction1(**myd1) # myfunction1(a=20,b=30,x=40)  #error
print(s)

TypeError: myfunction1() got an unexpected keyword argument 'x'

In [26]:
myd1 = {'a':200, 'b':300, 'c':400}
print(myd1)
s = myfunction1(**myd1)  # myfunction1(a=200,b=300,c=400) 
print(s)

{'a': 200, 'b': 300, 'c': 400}
200 300 400
900

In [ ]:
a,b,c = (10,20,30)

In [ ]:
print(a,b,c)

In [27]:
def myfunction3(**kwargs):
    print(kwargs)
    print(type(kwargs))
    print(kwargs['p'])  #expecting p  to be a key in the dictionary. The calling context should be like p=20

In [28]:
myfunction3(p=10,q=20,r=30)

{'p': 10, 'q': 20, 'r': 30}
<class 'dict'>
10

In [29]:
myfunction3(pp=10,qq=20,rr=30)

{'pp': 10, 'qq': 20, 'rr': 30}
<class 'dict'>

KeyError: 'p'

# Multiple Returns

In [ ]:
import math
def mycalci(*args):
    l = len(args)
    s = sum((args))
    
    return l,s

In [ ]:
r = mycalci(2,4,6,8,10)
print(r)
print(type(r))

In [ ]:
rl,rs = mycalci(2,4,6,8,10)
print(rl,rs)
print(type(rl),type(rs))

# Recursion

In [ ]:
def factorial(num):  #5 = 5*4*3*2*1
    if (num == 1):  # base condition
        return 1
    else:
        return num * factorial(num-1)   #recursive call

In [ ]:
factorial(5)

In [ ]:
factorial(6)

# Local and Global Variables :  Local Namespace, global Namespace

In [30]:
num1 = 20;  num2 = 40


def mf10():
    num3 = 60
    global num1
    num1 = 200
    print("Checkpoint1:: ", num1,num2,num3)
    
    return

In [31]:
print("Checkpoint0:: ", num1,num2)
mf10()
print("Checkpoint2:: ", num1,num2)
#print(num3)

Checkpoint0::  20 40
Checkpoint1::  200 40 60
Checkpoint2::  200 40

# Bank Account Creation

In [ ]:
'''
idbook = {ID1:accnum1, ID2:accnum2, ID3:accnum3}  #number:number
ledgerbook = {
    
                       accnum1:{
                                 "Details":(name,id)
                                 "transactions":[('c',amount, newbalance)] 
                                 "balance": balancevalue
            
                            }
             }

"Accnum"
("name",id)
('n',0,0)
('c',amount, newbalance)
('d',amount, newbalance)
('b',newbalance)
('e', getting some details,  name,id,last 5 transactions)
('currentbalance':, curbalance)
(transactions....)
'''

In [137]:
idbook = {}
ledgerbook = {}
currentaccountnum = 11111
def createAccount(name,id):
    global currentaccountnum
    if id not in idbook.keys():
        idbook[id] = currentaccountnum
        
        
        ledgerbook[currentaccountnum] = {}
        ledgerbook[currentaccountnum]["Details"] = (name,id)
        ledgerbook[currentaccountnum]["Balance"] = 0
        ledgerbook[currentaccountnum]["transactions"] = [('n',0,0)]
        
        currentaccountnum += 1
    else:
        print("Already has account", id, name)

In [138]:
def doCredit(acnum,amount):
    ledgerbook[acnum]["Balance"] = ledgerbook[acnum]["Balance"] + amount
    ledgerbook[acnum]["transactions"].append(('C', amount,ledgerbook[acnum]["Balance"] ))

In [140]:
createAccount("python",12345678)
print(idbook)
print(ledgerbook)

doCredit(11111,1000)
doCredit(11111,2500)
print(ledgerbook)

Already has account 12345678 python
{12345678: 11111}
{11111: {'Details': ('python', 12345678), 'Balance': 1000, 'transactions': [('n', 0, 0), ('C', 1000, 1000)]}}
{11111: {'Details': ('python', 12345678), 'Balance': 4500, 'transactions': [('n', 0, 0), ('C', 1000, 1000), ('C', 1000, 2000), ('C', 2500, 4500)]}}