#### 1. Write a Python function to multiply all the numbers in a list.

In [54]:
def mul(list1):
    result = list1[0]
    for i in range(1,len(list1)):
        result *= list1[i]
    return result
l = [2,4,6,8,9]
res = mul(l)
print(res)

3456

#### 2. Write a Python function to reverse a string use the while loop also?

In [56]:
def revstr(s):
    i = len(s)
    s1 = ''
    while i>0:
        s1 += s[i-1]
        i-=1
    return s1
string = 'madam'
rev = revstr(string)
print (rev)

madam

###### 3. Write a function to add and subtract two variables

In [57]:
def addsub(x,y):
    return (x+y,x-y)
num1 = 50
num2 = 30
addition,subtraction = addsub(num1,num2)
print(addition,subtraction)

80 20

###### 4. Write a function to check the number is divisible by 12

In [58]:
def my_func(n):
    return n%12==0
num = 48
res = my_func(num)
print(res)

True

###### 5. Write a function to calculate the number of days and weeks

In [42]:
def calc(days):
    weeks = days//7
    remainder = days%7
    return '{} week(s) and {} days'.format(weeks,remainder)
calc(13)

'1 week(s) and 6 days'

#### 6.Write a Python function to Find the 5!?

In [59]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

#### 7. Write a Python function Find the unique elements of the first list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]?

In [60]:
def unique(l):
    s = set(l)
    return list(s)
list1 = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]
print(unique(list1))

[1, 2, 3, 4, 5, 34, 7, 6, 654]

#### Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

####  1. Required arguments: (the function simple_interest accepts three arguments and returns the simple interest accordingly)

In [61]:
def simple_interest(p,t,r):
    return (p*t*r)/100
p = float(input('Enter amount:'))
t = float(input('Enter time:'))
r = float(input('Enter rate:'))
print('Simple Interest is ',simple_interest(p,t,r))

Enter amount:1000
Enter time:3
Enter rate:10
Simple Interest is  300.0

#### 2.Keyword arguments:(Function is called with the name and message as the keyword arguments)

In [2]:
def function(*args):
    print('Printing the message with name = {} and mssage = {}'.format(args[0],args[1]))
function('Aritra','Hello World')

Printing the message with name = Aritra and mssage = Hello World

#### 3.Default Arguments:()

In [47]:
def printme(name,age=23):
    print('My name is {} and age is {}'.format(name,age))
printme('Aritra')

My name is Aritra and age is 23

### lambda function

#### 1. Take the input the user input find it is even or odd number?

In [20]:
n = int(input('Enter a number:'))
ans = lambda n:'Even' if n%2==0  else 'Odd'
print(ans(n))

Enter a number:78
Even

#### 2. Take the input from user and  square it

In [21]:
n = float(input('Enter a number:'))
ans = lambda x:x**2
print(ans(n))

Enter a number:12
144.0

#### 3. Write a lambda function using logical operators?

In [51]:
n = lambda x : x>50
print(n(30))
print(n(60))

False
True

#### 4. Take a integer input from the user write a lambda function to add 5 and print it back?

In [23]:
n = float(input('Enter a number:'))
ans = lambda x:x+5
print(ans(n))

Enter a number:89.23
94.23

### Map

#### 1. Adding two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69]

In [24]:
lis1 = [12, 24, 36] 
lis2 = [41, 54, 69] 
print(list(map(lambda x,y:x+y,lis1,lis2)))

[53, 78, 105]

#### 2 Using Lambda and map functions on a List, find the square of each element in the list = [1, 2, 3, 4, 5, 6, 7]

In [25]:
list1 = [1, 2, 3, 4, 5, 6, 7]
print(list(map(lambda x:x**2,list1)))

[1, 4, 9, 16, 25, 36, 49]

#### 3.Take the list = [1, 2, 3, 4, 5, 6, 7] and find the even and odd elements in the list, using the map()function?

In [29]:
list1 = [1, 2, 3, 4, 5, 6, 7]
print(list(map(lambda x:'Odd' if x%2!=0 else 'Even',list1)))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

#### 4. Take the list = [11, 12, 13, 14, 435, 6, 27]  To perform the Floor division by 7 on each elements on the list?

In [30]:
list1 = [11, 12, 13, 14, 435, 6, 27]
print(list(map(lambda x:x//7,list1)))

[1, 1, 1, 2, 62, 0, 3]

## Filter

#### 1.filter the  lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]   which is not divided by 2?

In [31]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]
print(list(filter(lambda x:x%2!=0,lis1)))

[3, 43, 455, 43, 543]

#### 2.find the even valuse give list using filter?

In [32]:
lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]
print(list(filter(lambda x:x%2==0,lis1)))

[12, 24, 36, 654, 65432, 2, 654]

#### 3.Take list = [2,3,5,3,6,3,7,4,6,7] and find even number using user def functions?

In [36]:
def even(n):
    return n%2==0
list1 = [2,3,5,3,6,3,7,4,6,7]
print(list(filter(even,list1)))

[2, 6, 4, 6]

##### 4. Take the list = [1, 12, 31, 4, 15, 6, 7] and find the odd numbers in ecah elements in given values?

In [37]:
list1 = [1, 12, 31, 4, 15, 6, 7]
print(list(filter(lambda x:x%2!=0,list1)))

[1, 31, 15, 7]

 ## Reduce

In [38]:
from functools import reduce

#### 1.Take the list = [1, 2, 3, 4] and multiply all the element and use reduce function?

In [39]:
list1 = [1, 2, 3, 4]
print(reduce(lambda x,y:x*y,list1))

24

#### 2.Take the list = [ 11 , 13, 15, 16, 2,43 ]  and sum of  all the element and use reduce function?

In [40]:
list1 = [ 11 , 13, 15, 16, 2,43 ]
print(reduce(lambda x,y:x+y,list1))

100

#### 3. Take list  = [543,7,6,4567,7,78,6,6,78,765,678] and find the maximum value in the list

In [52]:
list1 = [543,7,6,4567,7,78,6,6,78,765,678]
print(reduce(lambda x,y:x if x>y else y,list1))

4567

#### 4. Take the list  = [543,7,6,4567,7,78,6,6,78,765,678] find the minmum value in the list?

In [53]:
list1 = [543,7,6,4567,7,78,6,6,78,765,678]
print(reduce(lambda x,y:x if x<y else y,list1))

6