In [22]:
is_even = lambda x:x%2==0
is_even(5)

False

In [5]:
miles = [2,3,4,5,6,7]
kms = list(map(lambda x:x*1.6,miles))
kms

[3.2, 4.800000000000001, 6.4, 8.0, 9.600000000000001, 11.200000000000001]

In [6]:
feet = [5,10,15,13,36]
list(map(lambda x:x*12,feet))

[60, 120, 180, 156, 432]

In [7]:
smarks = [60,70,80,90,95]
mmarks = [50,70,80,90,69]
list(map(lambda x,y:x+y,smarks,mmarks))

[110, 140, 160, 180, 164]

In [22]:
import math
def isPrime(n):
    flag=True
    i=2
    if n==1:
        return False
    while(i<math.sqrt(n)):
        if n%i==0:
            flag=False
        i+=1
    return flag
list(filter(isPrime,[2,5,6,89,87,45]))

[2, 5, 89]

In [18]:
list(filter(lambda x : x%2==0 and x%5==0,[3,5,6,7,9,10,20,40]))

[10, 20, 40]

In [26]:
from functools import reduce
reduce(lambda x,y:x+y,[3,4,5,6,78,9])

105

In [29]:
from itertools import accumulate
list(accumulate([3,4,5,6,78,9],lambda x,y:x+y))

[3, 7, 12, 18, 96, 105]

In [ ]:
acnum = Create_account(acname,idnum)
balance = doCredit(acnum,amount)
balance = doDebit(acnum,amount)
balance = getBalance(acnum)
details = getDetails(acnum)

a.You are a whole sale dealers of groceries. You bought x kgs of rice at the price of 60rs per kg, y kgs of wheat ar the rate of 40rs/kg that is your buying price. You sell the rice at a 10% margin and wheat at 8% margin. 
Take x and y as input (varying for every month), calculate the profit made in given month.
Take month name as input.Generate a report to show buying price ,comodity quantities bought, selling price, total profit for the month.

b. Assuming 60 % of total qty of rice was sold and 50% of total qty of wheat was sold.

In [2]:
p = input('Enter Month:')
m = float(input('Enter how many kgs rice you want:'))
n = float(input('Enter how many kgs wheat you want:'))
cpr = 60 * m
cpw = 40 * n
spr = 60 * m * 1.1
spw = 40 * n * 1.08
tp = (spr-cpr) + (spw-cpw)
print('Month:',p)
print('Buying Price of Rice:',cpr)
print('Quantity Bought:',m)
print('Selling Price of Rice:',spr)
print('Profit for Rice:',(spr-cpr))
print('Buying Price of Wheat:',cpw)
print('Quantity Bought:',n)
print('Selling Price of Wheat:',spw)
print('Profit for Wheat:',(spw-cpw))
print('Total Profit:',tp)

Enter Month:January
Enter how many kgs rice you want:10
Enter how many kgs wheat you want:20
Month: January
Buying Price of Rice: 600.0
Quantity Bought: 10.0
Selling Price of Rice: 660.0
Profit for Rice: 60.0
Buying Price of Wheat: 800.0
Quantity Bought: 20.0
Selling Price of Wheat: 864.0
Profit for Wheat: 64.0
Total Profit: 124.0

Question 2:
You plan to buy a plot in one of the happening areas in city. The price per sq.foot cost in the area is Rs.8000.  A registration fee of 100rs per Sqft is applied on it. If you plan to buy a 1600sqft plot find the total cost incurred.

In [10]:
print('Total Cost',(8000*1600)+(1600*100))

Total Cost 12960000

Question 3:
Write a program to create a user defined funciton. takes full name of a person as input. Creates an initial of the person using the first lettes of first name middle name and last name and returns as an output.

In [7]:
def initial(name):
    l = name.split()
    s = ''
    for i in l:
        s += i[0].upper()+'.'
    return s
n = input('Enter Name:')
res = initial(n)
print(res)

Enter Name:arnab dutta
A.D.

Question 4:
Write a program to take 2 numbers -lower limit and upper limit as input. Create a  function to generate the numbers divisible by 3 that exist between these limits.

In [8]:
def divby3(m,n):
    l = []
    for i in range(m,n+1):
        if i % 3 == 0:
            l.append(i)
    return l
l = int(input('Enter lower limit:'))
u = int(input('Enter upper limit:'))
nums = divby3(l,u)
print(nums)

Enter lower limit:1
Enter upper limit:30
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

Question 5:
Write a user defined function to find the factorial of the given number.

In [12]:
def fact(n):
    res = 1
    if n ==1 or n == 0:
        res = 1
    else:
        for i in range(2,n+1):
            res *= i
    return res
n = fact(5)
print(n)

120

In [16]:
def leap_year(year):
    return year%400 == 0 or (year%100 != 0 and year%4==0)
print(leap_year(2013))

False

In [18]:
list1 = [10,15,20,25,30,35,40,45,50,55]
for i in range(1,len(list1),2):
    list1[i] = 5
print(list1)

[10, 5, 20, 5, 30, 5, 40, 5, 50, 5]

Question 8: 

An airplane booking agency has a list of cities where the flight services are provided from originating city (Bangalore). 


Pune     2500
Mumbai   3000
Delhi    5000
Kolkota  5000
Chennai  1800
Hyderabad 2200
Ahmedabad 4000
Lucknow   3500
.
.
.

Create a function to take input from user to the destination place no of travellers and accordingly calculate the total fare required for the journey booking.

In [20]:
def fare(dest,n):
    dict1 = {'Pune':2500,'Mumbai':3000,'Delhi':5000,'Kolkata':5000,'Chennai':1800,'Hyderabad':2200,'Ahmedabad':4000,'Lucknow':3500}
    return dict1[dest]*n
dest = input("Enter Destination place:")
n = int(input("Enter no. of passengers:"))
print(fare(dest.capitalize(),n))

Enter Destination place:kolkata
Enter no. of passengers:10
50000

In [ ]:
dic = {'John':45,'Shelly':65,'Marry':35}
list(map(lambda x : x[i]*1.622