#### 1. Write a Python function to multiply all the numbers in a list.

#### 2. Write a Python function to reverse a string use the while loop also?

###### 3. Write a function to add and subtract two variables

###### 4. Write a function to check the number is divisible by 12

###### 5. Write a function to calculate the number of days and weeks

#### 6.Write a Python function to Find the 5!?

#### 7. Write a Python function Find the unique elements of the first list = [1,2,3,3,3,3,4,5,4,2,4,2,4,4,2,4,5,4,34,654,5,7,6,5,4,3]?

#### Types of arguments


    1. Required arguments
    2. Keyword arguments
    3. Default arguments

####  1. Required arguments: (the function simple_interest accepts three arguments and returns the simple interest accordingly)

#### 2.Keyword arguments:(Function is called with the name and message as the keyword arguments)

#### 3.Default Arguments:()

### lambda function

#### 1. Take the input the user input find it is even or odd number?

#### 2. Take the input from user and  square it

#### 3. Write a lambda function using logical operators?

#### 4. Take a integer input from the user write a lambda function to add 5 and print it back?

### Map

#### 1. Adding two lists using map ()
     lis1 = [12, 24, 36] 
     lis2 = [41, 54, 69]

#### 2 Using Lambda and map functions on a List, find the square of each element in the list = [1, 2, 3, 4, 5, 6, 7]

#### 3.Take the list = [1, 2, 3, 4, 5, 6, 7] and find the even and odd elements in the list, using the map()function?

#### 4. Take the list = [11, 12, 13, 14, 435, 6, 27]  To perform the Floor division by 7 on each elements on the list?

## Filter

#### 1.filter the  lis1 = [3,12, 24, 36,43,654,65432,2,654,455,43,543]   which is not divided by 2?

#### 2.find the even valuse give list using filter?

#### 3.Take list = [2,3,5,3,6,3,7,4,6,7] and find even number using user def functions?

##### 4. Take the list = [1, 12, 31, 4, 15, 6, 7] and find the odd numbers in ecah elements in given values?

 ## Reduce

#### 1.Take the list = [1, 2, 3, 4] and multiply all the element and use reduce function?

#### 2.Take the list = [ 11 , 13, 15, 16, 2,43 ]  and sum of  all the element and use reduce function?

#### 3. Take list  = [543,7,6,4567,7,78,6,6,78,765,678] and find the maximum value in the list

#### 4. Take the list  = [543,7,6,4567,7,78,6,6,78,765,678] find the minmum value in the list?